body {
  background-color: whitesmoke;
  /* background-color: white; */
}

main {
  min-height: 80vh;
}

h3 {
  padding-top: 1rem;
}

h1 {
  font-size: 1.4rem;
  padding: 0.1rem;
}

.rating span {
  margin: 0.1rem;
}

.form-field {
  border-width: 1px;
  border-radius: 10px;
  border-color: gainsboro;
}

.dark-blue-btn {
  background-color: #343a40;
}

.link {
  color: #1a82ae;
}

.rounded-btn {
  border-radius: 10px;
}

.invisible-field {
  background-color: transparent;
  border-color: transparent;
}
