:root {
  --background: whitesmoke;
  --red: tomato;
}

body {
  background-color: var(--background);
}

main {
  min-height: 80vh;
}

h3 {
  padding-top: 1rem;
}

h1 {
  font-size: 1.4rem;
  padding: 0.1rem;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.rating span {
  margin: 0.1rem;
}

.form-field {
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
}

.dark-blue-btn {
  background-color: #343a40;
}

.link {
  color: #1a82ae;
}

.rounded-btn {
  border-radius: 10px;
}

.invisible-field {
  background-color: transparent;
  border-color: transparent;
}

strong {
  font-weight: 700px;
}

.white-text {
  color: white;
}

.danger-text {
  color: red;
}

.error-message-field {
  margin: 10px 0 10px 0;
  padding: 10px;
  border: 2px solid var(--red);
  color: red;
}

.bordered {
  border: 1px solid #ccc;
}

.flex-row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.hollow-btn {
  background-color: #fff;
  border: 1px solid #333;
  color: #333;
  width: 100%;
}

.hollow-btn:hover {
  border-color: #000;
  color: #000;
  background-color: #fff;
}

.empty-cart-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 0 50px 0;
}
